<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_lemonade"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".Lemonade.Lemonade"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!--    An app for TipTime-->
        <activity
            android:name=".TipTime.TipTime"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_tip_time"
            android:label="@string/tip_time" />
        <activity
            android:name=".Affirmations.MainClassAffirmations"
            android:exported="false" />

        <!--    An app for Dogglers-->
        <activity android:name=".Dogglers.VerticalListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dogglers.MainClassDogglers" />
        </activity>
        <activity android:name=".Dogglers.HorizontalListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dogglers.MainClassDogglers" />
        </activity>
        <activity android:name=".Dogglers.GridListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dogglers.MainClassDogglers" />
        </activity>
        <activity
            android:name=".Dogglers.MainClassDogglers"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_dogglers"
            android:label="@string/app_dogglers"
            android:roundIcon="@mipmap/ic_launcher_round_dogglers"
            android:theme="@style/Theme.Design" />

        <!--    An app for Words-->
        <activity
            android:name=".Words.MainClassWords"
            android:exported="false"
            android:label="@string/words"
            android:theme="@style/Widget.Words.TextView"/>

        <!--    An app for Unscramble-->
        <activity
            android:name=".unscramble.MainActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher_unscramble_playstore"
            android:label="@string/app_name_unscramble"
            android:theme="@style/Theme.Unscramble">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>